@use "../../../presets" as *;
@use "../../../mixins" as *;

.localization {
  padding-top: 67px;
  padding-bottom: 162px;
  text-align: center;
  background-color: $color-bg-secondary-3;

  @include lg {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}