@use "../../../presets" as *;
@use "../../../mixins" as *;

.product {
  display: flex;
  flex-direction: column;
  padding-left: 95px;
  gap: 14px;
  grid-area: prd;
  padding-top: 11px;

  @include lg {
    padding: 0;
  }

  &__title {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.25;
    margin-top: 0;
    padding-bottom: 5px;

  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 246px;


    @include xx {
      max-width: 173px;
    }
  }

  &__link {
    font-size: 15px;
    line-height: 1;
  }
}