@use "../../presets" as *;
@use "../../mixins" as *;

.header-menu {
  display: flex;

  align-items: center;
  padding: 25px 0;

  gap: $gap;



  @include lg {
    flex-direction: column;

  }

  @include xs {
    flex-direction: column;
    padding: 25px;
  }
}