@use "../../presets" as *;
@use "../../mixins" as *;

.header {
  position: relative;
  // z-index: 100;
  display: flex;
  flex-direction: column;
  width: 100%;
  // min-height: 100vh;
  background-color: $color-white;
  // max-width: 1440px;
  border-bottom: 1px solid $color-gray-light;

}