@use "../../presets" as *;
@use "../../mixins" as *;

.navbar {
  flex-grow: 1;
  justify-self: start;


  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-grow: 1;
    gap: $gap-lg;
    list-style: none;


    @include xl {
      gap: $gap-md;
      justify-content: center;

    }

    @include lg {
      gap: $gap;
    }

    @include sm {
      gap: 10px;
      margin: 0;
      padding: 0;
      justify-content: center;
    }

    @include ux {
      gap: 4px;
      margin: 0;
      padding: 0;
      flex-direction: column;
    }


  }

  &__link {
    display: block;

    @include xl-min {
      padding: $gap-sm;
    }

    @include xl {
      padding: 7px;
    }

    @include lg {
      padding: 5px;
    }

    @include xs {
      padding: 2px;
    }

  }
}