@use "../../presets" as *;
@use "../../mixins" as *;

.navbar {
  flex-grow: 1;
  justify-self: start;

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-grow: 1;
    padding: 0 21px;
    gap: 38px;
    list-style: none;

    @include xl {
      gap: $gap-md;
      justify-content: space-evenly;

    }

    @include lg {
      gap: $gap;
    }

    @include sm {
      gap: 10px;
      margin: 0;
      padding: 0;
      justify-content: center;
    }

    @include ux {
      gap: 4px;
      margin: 0;
      padding: 0;
      text-align: center;
      flex-direction: column;
    }


  }

  &__link {
    display: block;


    @include xl-min {
      padding: $gap-sm;
    }

    @include xl {
      padding: 7px;
    }

    @include lg {
      padding: 5px;
    }

    @include xs {
      padding: 2px;
    }

  }

  &::after {
    position: absolute;
    top: 95px;
    left: 50%;

    width: 100vw;
    height: 1px;
    margin-left: -50vw;

    content: "";

    background-color: $color-gray;

    @include lg {
      top: 18%;
    }

    @include md {
      top: 20%;
    }

    @include sm {
      top: 30%;
    }

    @include xx {
      top: 25%;
    }


    @include ux {
      top: 32%;
    }
  }

}