@use "../../../presets" as *;
@use "../../../mixins" as *;



.work {
  display: flex;
  flex-direction: row-reverse;
  gap: 135px;
  align-items: center;
  margin-top: 206px;

  @include xl {
    gap: 100px;
    margin-left: 20px;
  }

  @include lg {
    flex-direction: column;
    text-align: center;
    gap: 35px;
    margin-left: 0;
    margin-top: 50px;
  }

  @include md {
    gap: 45px;
  }


  &__content {
    max-width: 493px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;


    @include xl {
      text-align: center;
      margin-right: 0;
    }

    @include sm {
      max-width: 450px;
    }

    @include xs {
      max-width: 390px;
    }

    @include xx {
      max-width: 330px;
    }

    @include ux {
      max-width: 300px;

    }

  }

  &__title {
    margin-top: 35px;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;

    @include xl-lg {
      font-size: 40px;
    }

    @include lg {
      font-size: 31px;
    }

    @include sm {
      line-height: 40px;
    }

    @include xx {
      font-size: 30px;
      line-height: 40px;
    }
  }

  &__description {
    padding-top: 12px;
    padding-bottom: 4px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    // width: 518px;

    @include lg {
      width: auto;
    }

  }

  &__btn {
    padding-top: 3px;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
  }

  &__picture {
    padding-top: 40px;

    @include lg {
      padding-top: 0;
    }
  }

  &__image {
    @include md {
      width: 90%;
    }

  }
}